h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0 !important;
    color: #012970;
}

.dashboard-contents-admin,
.news-contents-admin,
.user-contents-admin,
.category-contents-admin,
.news-create,
.news-detail-content,
.news-edit,
.comment-contents-admin,
.contact-contents-admin {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border: 1px solid red; */
}

.news-detail-content > .card {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.news-create > .card,
.news-edit > .card {
    padding: 20px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    /* border: 1px solid red; */
}

.form-control,
.form-select {
    border-radius: 4px !important;
    border: 1px solid #ced4da !important;
    width: 100% !important;
    box-shadow: none !important;
}

textarea:active,
.ck-editor__main {
    box-shadow: none !important;
    outline: none !important;
}

.select2-selection--single {
    height: 35px !important;
    border: 1px solid #ced4da !important;
    padding-top: 3px;
    outline: none !important;
    width: 100% !important;
    position: static !important;
}

.news-create > .card > .row-input,
.news-edit > .card > .row-input {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.news-create > .card > .row-input > .col,
.news-edit > .card > .row-input > .col {
    width: 50%;
    min-height: 100px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.news-create > .card > .row-input > .col > .input-el,
.news-edit > .card > .row-input > .col > .input-el {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid blue; */
    position: relative !important;
    flex: 1;
}

.modal-dialog {
    z-index: 99 !important;
}

.datatable-input, 
.datatable-selector {
    outline: none !important;
}

.datatable-top {
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.datatable-top::after {
    content: none;
    margin: 0;
    padding: 0;
    display: none;
}

.datatable-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.datatable-container {
    width: 100%;
    overflow: auto;
}

.dashboard-contents-admin > .news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    gap: 15px;
}

.dashboard-contents-admin > .news-container > .card {
    /* border: 1px solid #ced4da; */
    border-radius: 4px;
    min-height: 200px;
    /* box-shadow: none !important; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 !important;
}

.dashboard-contents-admin > .news-container > .card > img {
    width: 100%;
    object-fit: cover;
    /* border-bottom: 1px solid #ced4da; */
    height: 200px;
}

.dashboard-contents-admin > .news-container > .card > .desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.dashboard-contents-admin > .news-container > .card > .desc > a.title {
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
    color: #012970;
}

.dashboard-contents-admin > .news-container > .card > .desc > p.date {
    color: #899bbd;
    font-size: 14px;
    margin-bottom: 0 !important;
}

.dashboard-contents-admin > .news-container > .card > .desc > p.desc {
    margin-bottom: 0 !important;
    color: #012970;
    font-size: 14px;
}

.btn {
    border-radius: 4px !important;
}

.btn-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    font-weight: 600;
}

.btn-add {
    background-color: #4154f1 !important;
    color: #fff !important;
}

.btn-add:hover {
    background-color: #4f60f6 !important;
    color: #fff !important;
}

input[type="search"] {
    outline: none !important;
    height: 35px;
    border: 1px solid #ced4da;
    border-radius: 2px;
    padding: 10px;
}

select {
    height: 35px;
    outline: none !important;
    border: 1px solid #ced4da;
    border-radius: 2px;
}

.dataTables_filter {
    margin-bottom: 20px;
}

/* Reponosive (tablet) */
@media screen and (max-width: 992px) {
    .dashboard-contents-admin > .news-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .dashboard-contents-admin > .news-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Responsive (mobile) */
@media screen and (max-width: 576px) {
    .dashboard-contents-admin > .news-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .news-create > .card > .row-input,
    .news-edit > .card > .row-input {
        flex-direction: column;
    }

    .btn-responsive,
    .news-create > .card > .row-input > .col,
    .news-edit > .card > .row-input > .col {
        width: 100% !important;
    }


    .modal-dialog {
        /* border: 1px solid red; */
        margin: 10px !important;
        padding: 10px !important;
        left: 0 !important;
        right: 0 !important;
        display: block !important;
    }
}

::-webkit-scrollbar {
    width: 18px !important;
}

::-webkit-scrollbar-track {
    background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1 !important;
    border-radius: 2px !important;
    border: 5px solid transparent !important;
    background-clip: content-box !important;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf !important;
}